* {
    padding: 0;
    margin: 0;
}

body{
    min-width: 1400px
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.top {
    height: 35px;
    background-color: white;
}

.top-mi {
    height: 35px;
    width: 1200px;
    background-color: white;
    margin: 0 auto;
}

.top-mi ul li {
    float: left;
    font-size: 14px;
    line-height: 35px;
}

.top-mi span {
    color: #a01f23;
}

.top-left ul li {
    margin-right: 10px;
}

.top-left ul li img {
    vertical-align: -2px;
}

.top-right {
    float: right;
}

.top-right ul li {
    margin-left: 20px;
}

.logo-w{
    height: 1000px;
}

.logo {
    height: 1000px;
    background: url("../img/index_1ok.jpg") left top no-repeat;
    margin: 0 auto;
}

.logo .logo-mi {
    height: 130px;
    width: 1200px;
    margin: 0 auto;

}

.dnf-logo {
    height: 130px;
    width: 258px;
    float: left;
}

.dnf-logo img {
    margin-top: 20px;
    margin-bottom: 19px;
}

.sousuo {
    height: 66px;
    width: 350px;
    margin-left: 475px;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
}

.sousuo input {
    border: 1px solid #e00011;
    font-size: 14px;
    width: 260px;
    height: 33px;
    line-height: 32px;
    border-right: 0px;
    background: none;
}

.sousuo img {
    background-color: #e00011;
    position: absolute;
    height: 35px;
    width: 35px;
}

.sousuo ul li {
    float: left;
    font-size: 14px;
    margin-right: 15px;
    margin-top: 5px;
}

.sousuo ul li a {
    color: white;
}

/*          顶部             */


.box {
    position: relative;
    max-width: 750px;
    margin: 10px auto;
}

.box .img01 {
    width: 100%;
}

.box .drawBtn {
    position: absolute;
    width: 10rem;
    height: auto;
    left: 50%;
    margin-left: -5rem;
    top: 50%;
    margin-top: -5rem;
}


/*          底部          */

.bottom {
    height: 220px;
    background-color: white;
}

.bottom a:hover {
    text-decoration: underline;
}

.bottom-mi {
    height: 220px;
    width: 1200px;
    margin: 0 auto;
}

.bottom-top {
    height: 80px;
    background-color: #dedede;
}

.bottom-top .bottom-top-mi {
    height: 80px;
    width: 1100px;
    margin: 0 auto;
}

.bottom-top .bottom-top-mi ul li {
    float: left;
    height: 80px;
    width: 280px;
    margin-left: 80px;
}

.bottom-top .bottom-top-mi img {
    height: 50px;
    width: 50px;
    padding: 10px;
    vertical-align: center;
    float: left;
}

.bottom-top .bottom-top-mi div {
    margin-top: 15px;
}

.bottom-top .bottom-top-mi .Bold {
    display: block;
    font-weight: 700;
}

.bottom-top .bottom-top-mi .mini {
    font-size: 14px;
    color: #666;
}

.bottom-bottom {
    height: 200px;
    width: 1200px;
    background-color: white;
    margin-top: 30px;
}

.bottom-bottom .bottom-ul {
    margin: 0 80px;
}

.bottom-bottom .bottom-ul .bottom-ul-li {
    float: left;
    height: 166px;
    width: 170px;
    font-weight: 500;
    font-size: 18px;
    margin-left: 20px;
    white-space: nowrap;
}

.bottom-bottom .bottom-ul .bottom-ul-li1 {
    float: left;
    height: 166px;
    width: 120px;
    margin-left: 120px;
    border-left: 1px solid #dedede;
    padding-left: 30px;
}

.bottom-bottom .bottom-ul .bottom-ul-li1 span {
    display: block;
    font-size: 14px;
    text-align: center;
}

.bottom-bottom .bottom-ul .bottom-ul-li ul {
    margin-top: 15px;
}

.bottom-bottom .bottom-ul .bottom-ul-li ul li {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

.bottom-bottom .bottom-ul .bottom-ul-li ul li a {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

.bottom-b{
    width: 1200px;
    margin: 20px auto;
    text-align: center;
    color: #666666;
    font-size: 14px;
}